---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<div style="text-align: center;">
			<img src="igemlogo.png" alt="Okanagan iGEM logo" width="100" height="100" class="igem-logo">
		</div>
		<div style="margin-bottom: 200px"></div>
		<h1>Okanagan iGEM <span class="text-gradient">Lab Inventory Viewer</span></h1> 
		<table class="center-table border-separate border-spacing-1 bg-stone-100 rounded-md text-black">
			<caption class="caption-top text-white">
				Overview of Current Lab Inventory (Read Only)
			</caption>
			<thead>
				<tr>
					<th class="border border-slate-800 bg-slate-300">id</th>
					<th class="border border-slate-800 bg-slate-300">name</th>
					<th class="border border-slate-800 bg-slate-300">itemcode</th>
					<th class="border border-slate-800 bg-slate-300">quantity</th>
					<th class="border border-slate-800 bg-slate-300">units</th>
					<th class="border border-slate-800 bg-slate-300">itemgroup</th>
					<th class="border border-slate-800 bg-slate-300">location</th>
					<th class="border border-slate-800 bg-slate-300">category</th>
					<th class="border border-slate-800 bg-slate-300">description</th>
					
				</tr>	
			</thead>
				<tr>
					<td class="border border-slate-800">data</td>
					<td class="border border-slate-800">data</td>
					<td class="border border-slate-800">data</td>
					<td class="border border-slate-800">data</td>
					<td class="border border-slate-800">data</td>
					<td class="border border-slate-800">data</td>
					<td class="border border-slate-800">data</td>
					<td class="border border-slate-800">data</td>
					<td class="border border-slate-800">data</td>
				</tr>
			<tbody>
			</tbody>
		</table>
		<div class="flex w-full justify-center items-center h-32">
			<a class="underline" href="/turso">Go To Test Page</a>
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.igem-logo {
		position: absolute;
		top: 0px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 800;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.center-table {
		margin-left: auto;
		margin-right: auto;
		width: 50%
	}
	.border {
		border-width: 2px;
	}
</style>
