---
// Get the inventory stuff
export const partial = true;
import { turso } from '../../turso';
import type { InventoryItem } from '../../types/dbTypes';

const res = await turso.execute('SELECT * FROM inventory;');
const rows = res.rows as unknown as InventoryItem[];
---


{
	rows.map(row => (
		<tr>
			<td class="border border-slate-800 bg-slate-300">{row.id}</td>
			<td class="border border-slate-800 bg-slate-300">name</td>
			<td class="border border-slate-800 bg-slate-300">itemcode</td>
			<td class="border border-slate-800 bg-slate-300">quantity</td>
			<td class="border border-slate-800 bg-slate-300">units</td>
			<td class="border border-slate-800 bg-slate-300">itemgroup</td>
			<td class="border border-slate-800 bg-slate-300">location</td>
			<td class="border border-slate-800 bg-slate-300">category</td>
			<td class="border border-slate-800 bg-slate-300">description</td>
		</tr>
	))
}
